<main>
    <div class="dashboard">
        <header>
          <h1>Panel de Administración</h1>
          <p>Bienvenido, administrador. Aquí puedes gestionar los modelos 3D y revisar estadísticas.</p>
        </header>
        
        <section class="statistics">
          <h2>Estadísticas</h2>
          <div class="stats-cards">
            <div class="card">
              <h3>Modelos Totales</h3>
              <p>150</p>
            </div>
            <div class="card">
              <h3>Usuarios Registrados</h3>
              <p>2,430</p>
            </div>
            <div class="card">
              <h3>Descargas Totales</h3>
              <p>18,540</p>
            </div>
            <div class="card">
              <h3>Suscripciones</h3>
              <p>150</p>
            </div>
            <!-- <div class="card">
              <h3>Usuarios Registrados</h3>
              <p>2,430</p>
            </div>
            <div class="card">
              <h3>Descargas Totales</h3>
              <p>18,540</p>
            </div> -->
          </div>
        </section>
        
        <section class="manage-models">
          <h2>Gestión de Modelos</h2>
          <button>Agregar Nuevo Modelo</button>
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Modelo 1</td>
                <td>Arquitectura</td>
                <td>10/04/2025</td>
                <td>
                  <button>Editar</button>
                  <button>Eliminar</button>
                  <button>Visualizar</button>
                </td>
              </tr>
              <tr>
                <td>Modelo 1</td>
                <td>Arquitectura</td>
                <td>10/04/2025</td>
                <td>
                  <button>Editar</button>
                  <button>Eliminar</button>
                  <button>Visualizar</button>
                </td>
              </tr>
              <!-- Más filas aquí -->
            </tbody>
          </table>
        </section>
      </div>
</main>