<!DOCTYPE html>  
<html lang="es">  
    <%- include('../partials/head.ejs',{style:"product"}) %>
<body>  
    <header>  
        <%- include('../partials/nav-bar.ejs') %>
    </header>  

    <main>  
        <div class="product-container">  
            <div class="product-image">  
                <img src="images/camara.jpg" alt="Imagen del producto">  
            </div>  
            <div class="product-info">  
                <h1>producto</h1>  
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <button class="download-button">Descargar</button>  
                <button class="add-cart-button">Agregar al carrito</button>  
            </div>  
        </div>  

        <div class="comments-section">  
            <h2>Comentarios</h2>  
            <div class="tab-links">  
                <button>Comentarios</button>  
                <button>Modelos similares</button>  
            </div>  
            <input type="text" placeholder="Escribe un comentario..." class="comment-input">  
            <input type="text" placeholder="Tu nombre..." class="name-input">  
            <button class="submit-comment">Enviar</button>  
        </div>  
    </main>  

    <%- include('../partials/footer.ejs') %>
</body>  
</html>