<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs',{style:"profile"}) %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <main class="profile-section">
        <div class="profile">

        </div>
        <div class="profile-branches">
            
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>