<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs',{style:"profile"}) %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <main>
        <div class="profile-section">
            <div class="profile">
                <div class="profile-top">
                    <img src="/images/avatar/profile-top/profile-piece.jpg" alt="#">
                </div>
                <div class="profile-central">
                    <div class="avatar">
                        <img src="/images/avatar/default-user.png" alt="default">
                    </div>
                    <div class="name-user">
                        <h2>jose</h2>
                    </div>
                </div>
                <div class="dates">
                    <div class="dat follow">
                        <h3>Seguidores</h3>
                    </div>
                    <div class="dat following">
                        <h3>Siguiendo</h3>
                    </div>
                    <div class="dat design">
                        <h3>Diseños</h3>
                    </div>
                </div>
                <div class="button-editProfile">
                    <a href="/users/edit">Editar Perfil</a>
                </div>
            </div>

            <div class="profile-branches">
                <div class="branch 1"></div>
                <div class="branch 2"></div>
                <div class="branch 3"></div>
                <div class="branch 4"></div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>