*{
    margin: 0;
    padding: 0;
}

body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    background-color: #333333;
    background: linear-gradient(45deg, #4f4f85,#828094,#744879);
    /*background-image: url(../images/geometria3D.jpg);*/
}  

header{
    height: 110px;
    background-color: #161920;
    
}

nav{
    height: auto;
    display: flex;
    justify-content: space-between;
}

.log-page{
    width: 20%;
}

.icon-logo-page{
    width: 60%;
    margin: 2px;
    transform: translateY(-20%);
}

form{
    display: inline-block;
}

nav form{
    padding-top: 25px;
    
}

.search-container{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background-color: #f6f6f6;
}


.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
}

.logos-nav{
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    transform: translateY(-17%);
}

.logos-nav a{
    text-decoration: none;
}

.logos-nav a i{
    font-size: 40px;
    padding-left: 2px;
    padding-top: 1px;
}

.logos-nav .user-content h3{ 
    border-radius: 20px;
    height: max-content;
    transform: translateY(-100%);
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 22px;
}

.logos-nav .user-content{
    text-decoration: none;
    background-color: #D2D2D2;
    color: black;
    height: 42px;
    width: 150px;
    border-radius: 20px;
}

.logos-nav .cart-conteiner i{
    color: #d2d2d2;
    
}

.image-cart{
    width: 50%;
} 

.cart-options{
    display: flex;
    justify-content: space-around;
    position: relative;

}

.amount{
    width: 180px;
    height: 30px;
    display: flex;
    /* justify-content: space-around; */
    background-color: rgb(156, 54, 156);
    align-content: center;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 30px;
    margin-top: 13%;
}

.checkbox{
    display: flex;
    justify-content: center;
    width: 38px;
    height: 38px;
    /* align-content: center; */
    border: 2px solid black;
    border-radius: 50%;
    /* transform: translateY(-33%); */
}

.label{
    font-size: 20px;
    display: inline-block;
}

.cart-icon{
    margin-top: 60px;
    padding: 50px;
    background-color: rgb(156, 54, 156);
    border-radius: 50%;
}

.cart-icon i{
    font-size: 150px;
}

.products{
    display: flex;
    justify-content: space-around;
    height: auto;
    margin: 30px 15px 30px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(99, 34, 99);
    border-radius: 50px;
}

/* .products i{
    display: block;
} */

.model-card{
    /* padding: 20px; */
    /* width: 800px; */
    /* margin: 20px 30px 20px 30px;
    padding: 25px 0 25px 0;
    background-color: #D2D2D2; */
    background-color: rgb(63, 85, 104);
    margin: 5px 10px;
    /* margin-bottom: 50px; */
    height: 250px;
    border-radius: 30px;
    align-content: center;
}

.user-public{
    /* position: relative; */
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.model{
    width: 300px;
}

.dat-inf{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.dat-inf .trash i{
    font-size: 20px;
}

footer {  
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #707070;  
    /* text-align: center;   */
    color: rgb(0, 0, 0);  
    padding: 10px;  
    position: relative;  
}  

footer p{
    margin-top: 60px;
    color: #161920;
}

.social-icons{
    padding-bottom: 45px;
}

.social-icons a { 
    margin: 0 10px 10px;  
    font-size: 25px;
    color: rgb(0, 0, 0);  
    text-decoration: none;  
}



