* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

body {  
    font-family: Arial, sans-serif;  
    /* background-color: #322c36;  */
    background-color: #000000; 
    color: #fff; 
}  

a{
    text-decoration: none;
}

.container {  
    display: flex;  
    /* flex-direction: column;   */
    align-items: center;  
    justify-content: center;  
    height: calc(100vh - 60px); 
}  

.form-container{
    align-content: center;
}

.avatar-image{
    width: 150px;
    margin: 0 auto;
}

.avatar-image img{
    width: 100%;
    border: 2px solid rgb(129, 73, 108);
    border-radius: 50%;
}



h1 {  
    margin-bottom: 20px;  
}  

.form-container {  
    background-color: #1a1a1a; /* Gris claro */  
    height: 70%;
    width: 40%;
    padding: 20px;  
    border-radius: 50px;  
    text-align: center;  
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);   */
    border: 2px solid rgb(87, 0, 128);
}  

h2 {  
    margin-bottom: 15px;  
}  

p {  
    margin-bottom: 20px;  
}  

label {  
    display: block;  
    margin: 10px 0 5px; /* Espacio entre la etiqueta y el campo */  
}  

input {  
    width: 50%;  
    padding: 10px;  
    margin-bottom: 20px;  
    border: 1px solid #ccc;  
    border-radius: 10px;  
}  

input:focus {  
    outline: none;  
    border-color: #67539c; /* Cambia el borde al enfocarse */  
    border: 2px solid;
}  

.login-button, .register-button {  
    background-color: #000; /* Negro */  
    color: #fff; /* Texto blanco */  
    border: none;  
    padding: 10px 20px;  
    border-radius: 5px;  
    cursor: pointer;  
}  

.login-button:hover, .register-button:hover {  
    background-color: #444; /* Gris oscuro al pasar el mouse */  
}  

.register-button {  
    margin-top: 10px; /* Espacio entre los botones */  
}