<!DOCTYPE html>  
<html lang="es">  
    <%- include('./partials/head.ejs',{style:"cart"}) %> 
<body>  
    <header>
        <%- include('./partials/nav-bar.ejs') %>

    </header>  

    <main>  
        <div class="cart-options">  
            <div class="amount">
                <div class="input">
                    <input type="checkbox" name="checkbox" id="checkbox">
                </div>
                <div class="checkbox">
                    <label for="checkbox">Modelos</label>
                </div>
            </div>
            <div class="cart-icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="payment-method">
                <i class="fa-solid fa-angle-down"></i>
                <h4>Metodo de Pago</h4>
            </div>
        </div>  

        <div class="products">      
            <div class="model-card">  
                <img class="model" src="images/seccion_dos/brazo-robotico.jpg" alt="Modelo Similar">  
            </div>  
            <div class="model-card">  
                <img class="model" src="images/seccion_dos/arcade.jpg" alt="Modelo Similar">  
            </div>  
            <div class="model-card">  
                <img class="model" src="images/seccion_dos/perlaNegra.jpg" alt="Modelo Similar">  
            </div>  
        </div>  
    </main>  

    <%- include('./partials/footer.ejs') %> 
</body>  
</html>