<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <title>ModeliFy</title>
</head>
<body>
    <header>
        <nav>
            <img class="icon-logo-page" src="logs/LogoPrincipal.png" alt="logo de la pagina">
            <div class="search-container">
                <span class="material-symbols-outlined">search</span>
                <input class="bar-search" type="text" placeholder="Buscar...">
            </div>
               
            <div class="logos-nav">
                <img class="image-cart" src="logs/carritoDeCompras.png" alt="carrito de compras">
                <div class="user">
                    <img class="user-icon" src="logs/user.png" alt="usuario">
                    <h3><a href="html/login.html">mi cuenta</a></h3>
                </div>
            </div>
        </nav>
        
    </header>
    <section class="first-piece">
        <video class="videoFirst-piece" autoplay loop muted>
            <source src="videos/videoSeccion1_op02.mp4" type="video/mp4">
        </video>
        <h1 class="title">BIENVENIDO</h1>
        
    </section>

    <section class="second-piece">
        
        <form>   
            <select name="modelos" id="modelos">
                <option value="">tipos de modelos</option>
                <option value="">estructuras</option>
                <option value="">personajes</option>
                <option value="">naturaleza</option>
                <option value="">accesorios</option>
                <option value="">ciencia ficcion</option>
            </select>
            <select name="fecha de publicacion" id="publicacion">
                <option value="">fecha de publicacion</option>
                <option value="">ultimo dia</option>
                <option value="">ultima semana</option>
                <option value="">ultimo mes</option>
                <option value="">ultimo año</option>
                <option value="">en cualquier momento</option>
            </select>
            <input type="submit" value="Buscar">
        </form> 
    </section>
    <section class="products-conteiner">
        <div class="camara-content">
            <a href="html/productNotFree.html">
                <img class="camara" src="images/seccion_uno/camara.jpg" alt="camara">
            </a>
        </div>
        <div class="casa-content">
            <a href="#">
                <img class="casa" src="images/seccion_uno/casa.jpg" alt="casa">
            </a>
        </div>
        <div class="cohete-content">
            <a href="#">
                <img class="cohete" src="images/seccion_uno/cohete.jpg" alt="cohete">
            </a>
        </div>
        <div class="soprte-content">
            <a href="html/product-soporte.html">
                <img src="images/seccion_uno/soporte.jpg" alt="soporte">
            </a>
        </div>
        <div class="pantera-content">
            <a href="#">
                <img class="pantera" src="images/seccion_uno/pantera.jpg" alt="pantera">
            </a>
        </div>
        <div class="charmander-content">
            <a href="#">
                <img class="charmander" src="images/seccion_uno/charmander.jpg" alt="charmander">
            </a>
        </div>
        <div class="reactorARC-content">
            <a href="#">
                <img class="reactorARC" src="images/seccion_uno/reactorARC.jpg" alt="reactorARC">
            </a>
        </div>
        <div class="brujulaJackSparrow-content">
            <a href="#">
                <img class="brujulaJackSparrow" src="images/seccion_uno/brujulaJackSparrow.jpeg" alt="brujulaJackSparrow">
            </a>
        </div>
    </section>
    <section class="fourth-piece">
        <div class="products-conteiner-carousel">
            <div class="product-carousel-one">
                <img src="images/seccion_dos/perlaNegra.jpg" alt="perla negra">
            </div>
            <div class="product-carousel-two">
                <img src="images/seccion_dos/truco-magia.png" alt="truco de magia">
            </div>
            <div class="product-carousel-three">
                <img src="images/seccion_dos/brazo-robotico.jpg" alt="brazo robotico">
            </div>
            <div class="product-carousel-four">
                <img src="images/seccion_dos/guitarra-acustica.jpg" alt="guitarra acustica">
            </div>
            <div class="product-carousel-five">
                <img src="images/seccion_dos/pikachu.png" alt="pikachu">
            </div>
            <div class="product-carousel-six">
                <img src="images/seccion_dos/arcade.jpg" alt="arcade">
            </div>
            <div class="product-carousel-seven">
                <img src="images/seccion_dos/lampara-aladin.jpg" alt="lampara de aladin">
            </div>
            <div class="product-carousel-eight">
                <img src="images/seccion_dos/saxofon.jpg" alt="saxofon">
            </div>
        </div>
    </section>
    <section class="newsletter-container">
        
        <div class="image-grid">
            <!-- Contenedor para los cuadrados -->
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <div class="form-container">
            <h2>Sumate a nuestro Newsletter</h2>
            <form class="newsletter">
                <input type="text" name="name" placeholder="nombre" required>
                <input type="text" name="lastname" placeholder="apellido" required>
                <input type="email" name="email" id="email" placeholder="correo">
                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="follow">
            <h3>Seguinos</h3>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="company">
            <h3>Compania</h3>
            <ul>
                <li>Nosotros</li>
                <li>Nuestros servicios</li>
                <li>Politica de privacidad</li>
                <li>Afiliate</li>
            </ul>
        </div>
        <div class="help">
            <h3>Ayuda</h3>
            <ul>
                <li>Preguntas</li>
                <li>Compras</li>
                <li>Pago</li>
            </ul>
        </div>
    </footer>
</body>
</html>